# Ignorar ambiente virtual
env/
myenv/
*.venv
venv_doc_agent/
./chat_agent
*.chat_agent/
chat_agent/

# Arquivos temporários do sistema
*.pyc
__pycache__/

# Configurações locais
*.env
config.yaml
steps.txt